{% extends 'base.html'%}
{% load static %}
{% block extrahead %}
<link rel='stylesheet' type='text/css' href="{% static 'css/delete.css' %}">
{% endblock extrahead %}
{% block content %}

<div id="myModal" class="modal">
  <div class="modal-content" id='modal-wrapper'>
    <span class="close">&times;</span>
    <div class="modal-form">
      <h4>Please confirm that you wish to delete <i>{{ object.name }}</i></h4>
      <form action="" method="POST">
        {% csrf_token %}
        <input type="submit" value="Yes - Delete!" class="btn">
        <a href="{% url 'project_detail' object.id %}" class="btn">No - Cancel!</a>
      </form>
    </div>
  </div>

</div>
<script src="{% static 'scripts/delete.js' %}"></script>
{% endblock %}